# SQLite Database

## Why SQLite ?

SQLite is a server-less database and is self-contained.. Apposed to MySQL which requires a server to run on.

SQLite supports these datatypes: Blob, Integer, Null, Text, Real.. MySQL supports many more..

The SQLite library is about 250 KB in size, while the MySQL server is about 600 MB.

SQLite does not have any specific user management functionality and hence is not suitable for multiple user access. MySQL has a well-constructed user management system which can handle multiple users and grant various levels of permission.

### Import Package

In [1]:
# import sqlite3 package
import sqlite3

### connect to database

In [2]:
# create a connection to a database : create the database if not available
connection = sqlite3.connect("classroomDB.db")
connection.close()

In [8]:
# drop table if exists..
conn = sqlite3.connect("classroomDB.db")
c = conn.cursor()

dropTableStatement = "DROP TABLE IF EXISTS classroom"

c.execute(dropTableStatement)

conn.close()

### create table

In [4]:
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """

CREATE TABLE classroom (
    student_id INTEGER PRIMARY KEY,
    name VARCHAR(20),
    gender CHAR(1),
    physics_marks INTEGER,
    chemistry_marks INTEGER,
    mathematics_marks INTEGER
);

"""

# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

### insert data

In [5]:
# sample data
data = [
    (1, "Jim", "M", 70, 84, 92),
    (2, "Heather", "F", 87, 69, 93),
    (3, "Nick", "M", 65, 83, 90),
    (4, "Beth", "F", 83, 76, 89),
]

# open conn
conn = sqlite3.connect("classroomDB.db")
# open cursor
cur = conn.cursor()
cur.executemany('INSERT INTO classroom VALUES (?,?,?,?,?,?)', data)

# commit and close
conn.commit()
conn.close()

### Fetch the list of tables in a database

In [6]:
con = sqlite3.connect('classroomDB.db')
cursor = con.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

print(cursor.fetchall())

con.close()

[('classroom',)]

### extract data

In [7]:
# open connection
conn = sqlite3.connect("classroomDB.db")
# open cursor
cur = conn.cursor()

# query
query = "SELECT * FROM classroom"

# execute query
cur.execute(query)

# fetch results
result = cur.fetchall()

# print results
for row in result:
    print(row)

# close connection
conn.close()

(1, 'Jim', 'M', 70, 84, 92)
(2, 'Heather', 'F', 87, 69, 93)
(3, 'Nick', 'M', 65, 83, 90)
(4, 'Beth', 'F', 83, 76, 89)